@import "tailwindcss";

@theme {
--color-main: #0E0E0E;
--color-gray: #191919;
--color-white: #FFFF;
--color-accent:	#2AD6AB;
--color-accent-light:	#C7FFF0;
--color-orange-medium:	#FF9A01;
--color-orange-high:	#FF4B32;
--color-gray-light: #9ca3af;
--color-gray-medium: #364153;
--color-gray-extramedium: #1e2939;
--color-gray-dark: #101828;
 
--color-black:black;
 
}
:root {
  font-family: 'Roboto', system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  max-width: none !important;
  color-scheme: light dark;
  color: rgba(223, 203, 203, 0.87);
  
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.scroll-hidden { 
  scrollbar-width: none; /* Firefox */
}

/* Chrome, Safari, Edge */
.scroll-hidden::-webkit-scrollbar {
  display: none;
}


#map,
.leaflet-container {
  z-index: 0 !important;
}
.leaflet-control {
  z-index: 1 !important;
}

.glow-lines {
  filter: drop-shadow(0 0 16px #0ccfbc) drop-shadow(0 0 32px #10bbaa);
  /* Можно добавить несколько drop-shadow для сильного glow */
}

.button-gradient {
  @apply text-white font-bold py-3 px-20  rounded-4xl transition-shadow shadow-md hover:shadow-lg;
  background: linear-gradient(
    90deg,
    var(--color-orange-high) 0%,
    var(--color-orange-medium) 58%,
    var(--color-orange-medium) 100%
  );
}